* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.roboto-tipografia{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: italic;
}
.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    flex: 0 0 20%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    border-right: 1px solid #ccc;
}

.user-status {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc
}

.user-status img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    overflow-y: auto;
    
}

.contact {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    background-color: #ffffff;
    border-radius: 8px;
    border-bottom: 1px solid #ccc
}

.contact img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.new-chat {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc
}

.new-chat button {
    padding: 1.5rem 4rem;
    background-color: #A491D2;
    color: white;
    cursor: pointer;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing:auto;
    font-style: normal;
    font-weight: 150;
    font-variation-settings:
    "wdth" 100;
}

.main-content img {
    width: 350px;
    margin-bottom: 1rem;
}

.main-content h1 {
    font-size: 50px;
    margin-bottom: 0.5rem;
    color:#1B1F21;
}

.main-content p {
    color: #1B1F21 ;
}

.icon{
    display: flex;
    gap: 1rem;
    color: #828485;
    margin-left: auto;
}


.user-status 
{
    display: flex;
    align-items:center;
}

.user-info 
{
    display: flex;
    flex-direction: column;
    margin-right: auto;
}
